@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "bootstrap/dist/css/bootstrap.min.css";

* {
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-sm: 16px;
  --text-md: 24px;
  --text-lg: 32px;
  --text-xl: 48px;
  --text-xxl: 60px;
}

.text_sm {
  font-size: var(--text-sm);
}

.text_md {
  font-size: var(--text-md);
}

.text_lg {
  font-size: var(--text-lg);
}

.text_xl {
  font-size: var(--text-xl);
}

.text_xxl {
  font-size: var(--text-xxl);
}

.ff_outfit {
  font-family: "Outfit", sans-serif;
}

.ff_bakbak {
  font-family: "Bakbak One", sans-serif;
}